.pic{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 500px;
}

.picHolder{
  margin: 10px;
}

.info{
  text-align: center;
}

.messageHolder{
  margin: 10px;
}
.username{
  font-size: 20px;
}

@media screen and (max-width:767px){
  .info{
    font-size: 10px;
  }
  .messageHolder{
    font-size: 10px;
  }
  .username{
    font-size: 12px;
  }
}
