.main{
  margin-top: 75px;
  margin-left: 75px;
  margin-right: 25px;
  overflow-y: auto/scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling:touch;

  max-height: calc(100vh - 75px);
}

.main::-webkit-scrollbar{
  width: 0 !important;
}

@media not all and (min-resolution:.001dpcm) { @media {
  .main{
    max-height: calc(100vh - 128px);
  }
}}

@media screen and (max-width:767px){
  .main{
    margin-top: 50px;
    margin-right: 0px;
    margin-left: 50px;
      width: calc(100% - 50px);
  }
}
