<div class="chat-page">

  <div class="panel chat-room">
    <div class='message' *ngFor="let message of messages">
        <app-message [message]=message></app-message>
    </div>
  </div>

  <form class="username" (ngSubmit)="setUsername()">
    <input type='input' class="textarea" type="text" name="message" [(ngModel)]="username" placeholder="Name">
    <input type="submit" id="send" value="Send" class="button" style="display: none">
  </form>
</div>
<app-user-input (Text)="submitNewMessage($event)" (File)="uploadFile($event)"></app-user-input>
