.OhPoh{
  background-image: url("assets/blurry.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
}
.top-nav-bar{
  height:75px;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.side-nav-bar{
  position: fixed;
  height:100%;
  overflow: hidden;
  margin-top: 75px;
}

.main-body{
  width: 100%;
}

.OhPoh::-webkit-scrollbar{
  width: 0 !important;
}

@media screen and (max-width:767px){
  .side-nav-bar{
    margin-top: 50px;
  }

  .top-nav-bar{
    height:50px;
  }
}
