html,body{
  background-color: black;
}

.OhPoh{
  background-image: url("assets/blur-bg.jpg");
  height:100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.OhPoh::-webkit-scrollbar{
  width: 0 !important;
}

.MainBody{
  padding-left: 200px;
  padding-top: 75px;
}
