<div class="panel">
  <div class="title">
      Resume
  </div>
  <div class="content" style="textext-align: center; margin: 20px; padding:0px; font-size: 20px;">
      <a class='link' href="https://drive.google.com/open?id=1XSHVBbK4wqlifrkpVfBDefi8zwk1F2KN" target="_blank">Current resume</a>
  </div>
</div>

<div class="panel">
  <div class="title">
      About Me
  </div>
  <div class="content">
      <p>I am a software developer,mostly front-end, and have a passion for creating web applications.</p>
      <p>I am a very motivated person and put in many hours to get a project where I want it to be.</p>
      <p>I could be considerd a perfectionist when it comes to developing sites, but I make sure I do not waste to much time.</p>
  </div>
</div>

<div class="panel">
  <div class="title">
      Languages
  </div>
  <div class="content">
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Java</li>
  </div>
</div>

<div class="panel">
  <div class="title">
      Technology
  </div>
  <div class="content">
      <li>Angular
        <div>Have developed many applications with. Familiar with services, components, animation, and server requests.</div>
      </li>
      <li>Node.js
        <div>Most of my web applications are using Node as the server. Have developed RESTful and CRUD based servers.</div>
      </li>
      <li>MongoDB
        <div>Chatroom,<a href="/chat" class="link">Anonymous Chatroom</a>, uses MongoDB as the cloud database. Sends message data to the server and requests data to parse as a message.</div>
      </li>
      <li>Git
        <div>Sites are hosted on Heroku and is pushed using Git. Familiar with branches and merging.</div>
      </li>
  </div>
</div>

<div class="panel">
  <div class="title">
      Contact
  </div>
  <div class="content contact">
    <li>Email:
      <a class='link' href = "mailto: austinopelico96@gmail.com">AustinOPelico96@gmail.com</a>
    </li>
    <li>Phone:
      <a class='link' href="tel:256-786-2999">(256) 786-2999</a>
    </li>
    <li>LinkedIn:
      <a class='link' href="https://www.linkedin.com/in/austin-pelico" target="_blank">linkedin.com/in/austin-pelico/</a>
    </li>
  </div>
</div>
