<div class="screen">
  <div class="body">
    <div class="panel">
      <div class="title">
        Resume
      </div>
      <div class="content" style="textext-align: center; font-size: 20px;">
        <a class='link' href="https://drive.google.com/open?id=1XSHVBbK4wqlifrkpVfBDefi8zwk1F2KN" target="_blank" style="font-size: 25px;">Current resume</a>
      </div>
    </div>

    <div class="panel">
      <div class="title">
        About Me
      </div>
      <div class="content">
        <p>I am a software developer, mostly front-end, and I have a passion for creating web applications.</p>
        <p>I am a very motivated person and put in many hours to get a project where I want it to be.</p>
      </div>
    </div>

    <div class="panel">
      <div class="title">
        Languages
      </div>
      <div class="content">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Java</li>
      </div>
    </div>

    <div class="panel">
      <div class="title">
        Technology
      </div>
      <div class="content">
        <li>Angular
          <div>I Have developed many applications. I am familiar with services, components, animation, and server requests.</div>
        </li>
        <li>Node.js
          <div>Most of my web applications are using Node as the server. I have developed RESTful and CRUD based applications.</div>
        </li>
        <li>MongoDB
          <div>Chatroom,<a href="/chat" class="link"> Anonymous Chatroom</a>, uses MongoDB as the cloud database. Front-end sends message data to the server and requests data to parse as a message to store in a database.</div>
        </li>
        <li>Git
          <div>Sites are hosted on Heroku and is pushed using Git. I am familiar with branches and merging.</div>
        </li>
      </div>
    </div>

    <div class="panel">
      <div class="title">
        Projects
      </div>
      <div class="content">
        <li><a class='link' href="/chat" target="_blank" style="font-size: 20px;">Chat Room</a> - <a class='link' href="https://github.com/apelico/OhPohSite/tree/master/src/app/layout/pages/chatroom" target="_blank">Front End Code</a> : <a
            class='link' href="https://github.com/apelico/OhPohSite/blob/master/server.js" target="_blank">Back End Code</a>
          <div>Uses a MEAN stack. Uses POST and GET requests to send and receive messages from the server.</div>
        </li>
        <li><a class='link' href="/weather" target="_blank" style="font-size: 20px;">Weather App</a> - <a class='link' href="https://github.com/apelico/OhPohSite/tree/master/src/app/layout/pages/weather" target="_blank">Front End Code</a> : <a
            class='link' href="https://github.com/apelico/OhPohSite/blob/master/server.js" target="_blank">Back End Code</a>
          <div>Sends a GET request from the front-end to the server with the city's name. Uses OpenWeatherAPI and DarkSkyAPI to request the city's location details, current weather, hourly weather, and daily weather.</div>
        </li>
      </div>
    </div>

    <div class="panel">
      <div class="title">
        Contact
      </div>
      <div class="content contact">
        <li>Email:
          <a class='link' href="mailto: austinopelico96@gmail.com">AustinOPelico96@gmail.com</a>
        </li>
        <li>Phone:
          <a class='link' href="tel:256-786-2999">(256) 786-2999</a>
        </li>
        <li>LinkedIn:
          <a class='link' href="https://www.linkedin.com/in/austin-pelico" target="_blank">linkedin.com/in/austin-pelico/</a>
        </li>
      </div>
    </div>
  </div>
</div>
